.services, .blocks, .albums {
  text-align: center;
}

.albums img {
  object-fit: cover;
  width: 150px;
  height: 100px;
  
}

.top-line {
  margin-top: 0;
}

.no-margin-top {
   margin-bottom: 0;
}